{% extends "inventorysite/base_page.html" %}
{% load staticfiles %}

{% block content %}
	<div class="container">
		<h3>Add employee</h3>
		<form name="employeeInfoForm" onsubmit="return validateForm()" id="addEmployeeForm" method="POST" class="post-form">{% csrf_token %}
			<!--Device options for user-->
			<div class="btn-group-vertical pull-right" id="addDeviceButtons">
				<h4><span class="glyphicon glyphicon-plus"></span> Select devices to add</h4>
				<button type="button" class="btn btn-info" id="add_pc"><span class="glyphicon glyphicon-unchecked"></span> PC</button>
				<button type="button" class="btn btn-info" id="add_wd"><span class="glyphicon glyphicon-phone"></span> Wireless Device</button>
				<button type="button" class="btn btn-info" id="add_phone"><span class="glyphicon glyphicon-earphone"></span> IP Phone</button>
				<button type="button" class="btn btn-info" id="add_laptop"><span class="glyphicon glyphicon-align-justify"></span> Laptop</button>
				<button type="button" class="btn btn-info" id="add_printer"><span class="glyphicon glyphicon-print"></span> Printer</button>
				<button type="button" class="btn btn-info" id="add_bs"><span class="glyphicon glyphicon-barcode"></span> Barcode Scanner</button>
				<button type="button" class="btn btn-info" id="add_bsc"><span class="glyphicon glyphicon-inbox"></span> Barcode Scanner Cradle</button>
				<button type="button" class="btn btn-info" id="add_scanner"><span class="glyphicon glyphicon-list-alt"></span> Scanner</button>
				<button type="button" class="btn btn-info" id="add_bis"><span class="glyphicon glyphicon-hand-up"></span> Biometric Scanner</button>
			</div>
			{{ computer_formset.management_form }}
			{{ wd_formset.management_form }}
			{{ phone_formset.management_form }}
			{{ laptop_formset.management_form }}
			{{ printer_formset.management_form }}
			{{ barcode_formset.management_form }}
			{{ cradle_formset.management_form }}
			{{ scanner_formset.management_form }}
			{{ bio_formset.management_form }}
			<br><h4>Employee information</h4>
			{{ form.as_p }}

			<!--Dynamic forms-->
			<div id="pcForm">
				{% for form in computer_formset.forms %}
					<br><h4>PC Information</h4>
					{{ form.as_p }}
				{% endfor %}
			</div>
			<div id="wdForm">
				{% for form in wd_formset.forms %}
					<br><h4>Wireless Device Information</h4>
					{{ form.as_p }}
				{% endfor %}
			</div>
			<div id="phoneForm">
				{% for form in phone_formset.forms %}
					<br><h4>Phone Information</h4>
					{{ form.as_p }}
				{% endfor %}
			</div>
			<div id="laptopForm">
				{% for form in laptop_formset.forms %}
					<br><h4>Laptop Information</h4>
					{{ form.as_p }}
				{% endfor %}
			</div>
			<div id="printerForm">
				{% for form in printer_formset.forms %}
					<br><h4>Printer Information</h4>
					{{ form.as_p }}
				{% endfor %}
			</div>
			<div id="barcodeForm">
				{% for form in barcode_formset.forms %}
					<br><h4>Barcode Scanner Information</h4>
					{{ form.as_p }}
				{% endfor %}
			</div>
			<div id="cradleForm">
				{% for form in cradle_formset.forms %}
					<br><h4>Barcode Scannner Cradle Information</h4>
					{{ form.as_p }}
				{% endfor %}
			</div>
			<div id="scannerForm">
				{% for form in scanner_formset.forms %}
					<br><h4>Scanner Information</h4>
					{{ form.as_p }}
				{% endfor %}
			</div>
			<div id="bioForm">
				{% for form in bio_formset.forms %}
					<br><h4>Biometric Scanner Information</h4>
					{{ form.as_p }}
				{% endfor %}
			</div>

			<!--removableDiv required for jQuery deletion-->
			<div class="newPCForm">
				<div class="removableDiv">
					<br><h4>PC Information</h4>
					<a class="btn btn-warning delete_device"><span class="glyphicon glyphicon-remove"></span> Delete</a>
					{{ computer_formset.empty_form.as_p }}
				</div>
			</div>
			<div class="newWDForm">
				<div class="removableDiv">
					<br><h4>Wireless Device Information</h4>
					<a class="btn btn-warning delete_device"><span class="glyphicon glyphicon-remove"></span> Delete</a> 
					<p>Please don't register dates here. Add dates when you submit form.</p>
					{{ wd_formset.empty_form.as_p }}
				</div>
			</div>
			<div class="newPhoneForm">
				<div class="removableDiv">
					<br><h4>Phone Information</h4>
					<a class="btn btn-warning delete_device"><span class="glyphicon glyphicon-remove"></span> Delete</a>
					{{ phone_formset.empty_form.as_p }}
				</div>
			</div>
			<div class="newLaptopForm">
				<div class="removableDiv">
					<br><h4>Laptop Information</h4>
					<a class="btn btn-warning delete_device"><span class="glyphicon glyphicon-remove"></span> Delete</a>
					{{ laptop_formset.empty_form.as_p }}
				</div>
			</div>
			<div class="newPrinterForm">
				<div class="removableDiv">
					<br><h4>Printer Information</h4>
					<a class="btn btn-warning delete_device"><span class="glyphicon glyphicon-remove"></span> Delete</a>
					{{ printer_formset.empty_form.as_p }}
				</div>
			</div>
			<div class="newBarcodeForm">
				<div class="removableDiv">
					<br><h4>Barcode Scanner Information</h4>
					<a class="btn btn-warning delete_device"><span class="glyphicon glyphicon-remove"></span> Delete</a>
					{{ barcode_formset.empty_form.as_p }}
				</div>
			</div>
			<div class="newCradleForm">
				<div class="removableDiv">
					<br><h4>Barcode Scanner Cradle Information</h4>
					<a class="btn btn-warning delete_device"><span class="glyphicon glyphicon-remove"></span> Delete</a>
					{{ cradle_formset.empty_form.as_p }}
				</div>
			</div>
			<div class="newScannerForm">
				<div class="removableDiv">
					<br><h4>Scanner Information</h4>
					<a class="btn btn-warning delete_device"><span class="glyphicon glyphicon-remove"></span> Delete</a>
					{{ scanner_formset.empty_form.as_p }}
				</div>
			</div>
			<div class="newBioForm">
				<div class="removableDiv">
					<br><h4>Biometric Scanner Information</h4>
					<a class="btn btn-warning delete_device"><span class="glyphicon glyphicon-remove"></span> Delete</a>
					{{ bio_formset.empty_form.as_p }}
				</div>
			</div>
			<button type="submit" class="save btn btn-default btn-primary center-block" id="submitEmployeeInfo">Submit</button>
		</form>
	</div>

{% endblock content %}