{% extends "inventorysite/base_page.html" %}
{% load staticfiles %}

{% block content %}

<!--Show all devices of one category with tables-->
{% if show_computers %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12"><h3>All Computers</h3></div>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<th title="User">User</th>
					<th title="Manufacturer">Manufacturer</th>
					<th title="Model">Model</th>
					<th title="Host Name">Host Name</th>
					<th title="Service Tag">Service Tag</th>
					<th title="Asset Tag">Asset Tag</th>
					<th title="Owner">Owner</th>
				</thead>
				<tbody>
					{% for computer in all_computers %}
						<tr>
							<td title="{{ computer.pc_user.last_name }}, {{ computer.pc_user.first_name }}"><a href="{% url "inventorysite.views.show_employee_info" pk=computer.pc_user.pk %}">{{ computer.pc_user.last_name }}, {{ computer.pc_user.first_name }}</a></td>
							<td title="{{ computer.pc_manufacturer }}">{{ computer.pc_manufacturer }}</td>
							<td title="{{ computer.pc_model }}">{{ computer.pc_model }}</td>
							<td title="{{ computer.pc_host_name }}">{{ computer.pc_host_name }}</td>
							<td title="{{ computer.pc_service_tag }}">{{ computer.pc_service_tag }}</td>
							<td title="{{ computer.pc_asset_tag }}">{{ computer.pc_asset_tag }}</td>
							<td title="{{ computer.pc_owner }}">{{ computer.pc_owner }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% elif show_wdevices %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12"><h3>All Wireless Devices</h3></div>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<th title="User">User</th>
					<th title="Type">Type</th>
					<th title="Manufacturer">Manufacturer</th>
					<th title="Carrier">Carrier</th>
					<th title="Model">Model</th>
					<th title="Number">Number</th>
					<th title="Serial Number">Serial Number</th>
					<th title="MEID">MEID</th>
					<th title="Asset Tag">Asset Tag</th>
					<th title="Deploy Date">Deploy Date</th>
					<th title="Return Date">Return Date</th>
				</thead>
				<tbody>
					{% for wd in all_wdevices %}
						<tr>
							<td title="{{ wd.wd_user.last_name }}, {{ wd.wd_user.first_name }}"><a href="{% url "inventorysite.views.show_employee_info" pk=wd.wd_user.pk %}">{{ wd.wd_user.last_name }}, {{ wd.wd_user.first_name }}</a></td>
							<td title="{{ wd.wd_type }}">{{ wd.wd_type }}</td>
							<td title="{{ wd.wd_manufacturer }}">{{ wd.wd_manufacturer }}</td>
							<td title="{{ wd.wd_carrier}}">{{ wd.wd_carrier}}</td>
							<td title="{{ wd.wd_model }}">{{ wd.wd_model }}</td>
							<td title="{{ wd.wd_number }}">{{ wd.wd_number }}</td>
							<td title="{{ wd.wd_serial_number }}">{{ wd.wd_serial_number }}</td>
							<td title="{{ wd.wd_meid }}">{{ wd.wd_meid }}</td>
							<td title="{{ wd.wd_asset_tag }}"> {{ wd.wd_asset_tag }} </td>
							<td title="{{ wd.wd_date_deployed }}">{{ wd.wd_date_deployed }}</td>
							<td title="{{ wd.wd_date_returned }}">{{ wd.wd_date_returned }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% elif show_phones %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12"><h3>All IP Phones</h3></div>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<th title="User">User</th>
					<th title="Manufacturer">Manufacturer</th>
					<th title="Model">Model</th>
					<th title="Number">Number</th>
					<th title="Serial Number">Serial Number</th>
					<th title="MAC">MAC</th>
					<th title="Asset Tag">Asset Tag</th>
				</thead>
				<tbody>
					{% for phone in all_phones %}
						<tr>
							<td title="{{ phone.phone_user.last_name }}, {{ phone.phone_user.first_name }}"><a href="{% url "inventorysite.views.show_employee_info" pk=phone.phone_user.pk %}">{{ phone.phone_user.last_name }}, {{ phone.phone_user.first_name }}</a></td>
							<td title="{{ phone.phone_manufacturer }}">{{ phone.phone_manufacturer }}</td>
							<td title="{{ phone.phone_model }}">{{ phone.phone_model }}</td>
							<td title="{{ phone.phone_number }}">{{ phone.phone_number }}</td>
							<td title="{{ phone.phone_serial_number }}">{{ phone.phone_serial_number }}</td>
							<td title="{{ phone.phone_mac }}">{{ phone.phone_mac }}</td>
							<td title="{{ phone.phone_asset_tag }}">{{ phone.phone_asset_tag }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% elif show_laptops %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12"><h3>All Laptops</h3></div>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<th title="User">User</th>
					<th title="Manufacturer">Manufacturer</th>
					<th title="Model">Model</th>
					<th title="Host Name">Host Name</th>
					<th title="Service Tag">Service Tag</th>
					<th title="Asset Tag">Asset Tag</th>
					<th title="Owner">Owner</th> 
				</thead>
				<tbody>
					{% for laptop in all_laptops %}
						<tr>
							<td title="{{ laptop.laptop_user.last_name}}, {{ laptop.laptop_user.first_name}}"> <a href="{% url "inventorysite.views.show_employee_info" pk=laptop.laptop_user.pk %}">{{ laptop.laptop_user.last_name}}, {{ laptop.laptop_user.first_name}}</a></td>
							<td title="{{ laptop.laptop_manufacturer }}">{{ laptop.laptop_manufacturer }}</td>
							<td title="{{ laptop.laptop_model }}">{{ laptop.laptop_model }}</td>
							<td title="{{ laptop.laptop_host_name }}">{{ laptop.laptop_host_name }}</td>
							<td title="{{ laptop.laptop_service_tag }}">{{ laptop.laptop_service_tag }}</td>
							<td title="{{ laptop.laptop_asset_tag }}">{{ laptop.laptop_asset_tag }}</td>
							<td title="{{ laptop.laptop_owner }}">{{ laptop.laptop_owner }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% elif show_printers %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12"><h3>All Printers</h3></div>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<th title="User">User</th>
					<th title="Manufacturer">Manufacturer</th>
					<th title="Model">Model</th>
					<th title="Serial Number">Serial Number</th>
					<th title="Asset Tag">Asset Tag</th>
					<th title="Owner">Owner</th>
				</thead>
				<tbody>
					{% for printer in all_printers %}
						<tr>
							<td title="{{ printer.printer_user.last_name }}, {{ printer.printer_user.first_name }}"><a href="{% url "inventorysite.views.show_employee_info" pk=printer.printer_user.pk %}">{{ printer.printer_user.last_name }}, {{ printer.printer_user.first_name }}</a></td>
							<td title="{{ printer.printer_manufacturer }}">{{ printer.printer_manufacturer }}</td>
							<td title="{{ printer.printer_model }}">{{ printer.printer_model }}</td>
							<td title="{{ printer.printer_serial_number }}">{{ printer.printer_serial_number }}</td>
							<td title="{{ printer.printer_asset_tag }}">{{ printer.printer_asset_tag }}</td>
							<td title="{{ printer.printer_owner }}">{{ printer.printer_owner }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% elif show_barscanners %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12"><h3>All Barcode Scanners</h3></div>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<th title="User">User</th>
					<th title="Manufacturer">Manufacturer</th>
					<th title="Model">Model</th>
					<th title="Serial Number">Serial Number</th>
					<th title="Asset Tag">Asset Tag</th> 
				</thead>
				<tbody>
					{% for bs in all_barscanners %}
						<tr>
							<td title="{{ bs.bs_user.last_name }}, {{ bs.bs_user.first_name }}"><a href="{% url "inventorysite.views.show_employee_info" pk=bs.bs_user.pk %}">{{ bs.bs_user.last_name }}, {{ bs.bs_user.first_name }}</a></td>
							<td title="{{ bs.bs_manufacturer }}">{{ bs.bs_manufacturer }}</td>
							<td title="{{ bs.bs_model }}">{{ bs.bs_model }}</td>
							<td title="{{ bs.bs_serial_number }}">{{ bs.bs_serial_number }}</td>
							<td title="{{ bs.bs_asset_tag }}">{{ bs.bs_asset_tag }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% elif show_cradles %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12"><h3>All Barcode Scanner Cradles</h3></div>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<th title="User">User</th>
					<th title="Manufacturer">Manufacturer</th>
					<th title="Model">Model</th>
					<th title="Serial Number">Serial Number</th>
					<th title="Asset Tag">Asset Tag</th>
				</thead>
				<tbody>
					{% for bsc in all_cradles %}
						<tr>
							<td title="{{ bsc.bsc_user.last_name }}, {{ bsc.bsc_user.first_name }}"><a href="{% url "inventorysite.views.show_employee_info" pk=bsc.bsc_user.pk %}">{{ bsc.bsc_user.last_name }}, {{ bsc.bsc_user.first_name }}</a></td>
							<td title="{{ bsc.bsc_manufacturer }}">{{ bsc.bsc_manufacturer }}</td>
							<td title="{{ bsc.bsc_model }}">{{ bsc.bsc_model }}</td>
							<td title="{{ bsc.bsc_serial_number }}">{{ bsc.bsc_serial_number }}</td>
							<td title="{{ bsc.bsc_asset_tag }}">{{ bsc.bsc_asset_tag }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% elif show_scanners %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12"><h3>All Scanners</h3></div>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<th title="User">User</th>
					<th title="Manufacturer">Manufacturer</th>
					<th title="Model">Model</th>
					<th title="Serial Number">Serial Number</th>
					<th title="Asset Tag">Asset Tag</th>
				</thead>
				<tbody>
					{% for scanner in all_scanners %}
						<tr>
							<td title="{{ scanner.scanner_user.last_name }}, {{ scanner.scanner_user.first_name }}"><a href="{% url "inventorysite.views.show_employee_info" pk=scanner.scanner_user.pk %}">{{ scanner.scanner_user.last_name }}, {{ scanner.scanner_user.first_name }}</a></td>
							<td title="{{ scanner.scanner_manufacturer }}">{{ scanner.scanner_manufacturer }}</td>
							<td title="{{ scanner.scanner_model }}">{{ scanner.scanner_model }}</td>
							<td title="{{ scanner.scanner_serial_number }}">{{ scanner.scanner_serial_number }}</td>
							<td title="{{ scanner.scanner_asset_tag }}">{{ scanner.scanner_asset_tag }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% elif show_bioscanners %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12"><h3>All Biometric Scanners</h3></div>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<th title="User">User</th>
					<th title="Manufacturer">Manufacturer</th>
					<th title="Model">Model</th>
					<th title="Serial Number">Serial Number</th>
					<th title="Asset Tag">Asset Tag</th>
				</thead>
				<tbody>
					{% for bioscanner in all_bioscanners %}
						<tr>
							<td title="{{ bioscanner.bis_user.last_name }}, {{ bioscanner.bis_user.first_name }}"><a href="{% url "inventorysite.views.show_employee_info" pk=bioscanner.bis_user.pk %}">{{ bioscanner.bis_user.last_name }}, {{ bioscanner.bis_user.first_name }}</a></td>
							<td title="{{ bioscanner.bis_manufacturer }}">{{ bioscanner.bis_manufacturer }}</td>
							<td title="{{ bioscanner.bis_model }}">{{ bioscanner.bis_model }}</td>
							<td title="{{ bioscanner.bis_serial_number }}">{{ bioscanner.bis_serial_number }}</td>
							<td title="{{ bioscanner.bis_asset_tag }}">{{ bioscanner.bis_asset_tag }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endif %}

{% endblock content%}
