{% extends "inventorysite/base_page.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-xs-12"><h3>All Employees</h3></div>
	</div>
	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
				<th title="Last Name">Last Name</th>
				<th title="First Name">First Name</th>
				<th title="Location">Location</th>
				<th title="Department">Department</th>
				<th title="ID">ID</th>
				<th title="E-mail">E-mail</th>
			</thead>
			<tbody>
				{% for employee in all_employees %}
				<tr>
					<td title="{{ employee.last_name }}"><a href="{% url "inventorysite.views.show_employee_info" pk=employee.pk %}">{{ employee.last_name }}</a></td>
					<td title="{{ employee.first_name }}">{{ employee.first_name }}</td>
					<td title="{{ employee.location }}">{{ employee.location }}</td>
					<td title="{{ employee.department }} ">{{ employee.department }}</td>
					<td title="{{ employee.employee_id }}">{{ employee.employee_id }}</td>
					<td title="{{ employee.email }}">{{ employee.email }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock content %}