{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
		<link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}"/>
		<link type="text/css" rel="stylesheet" href="{% static "css/jquery-ui.css" %}"/><!--Required for datepicker-->
		<title>OCME Inventory Management</title>
	</head>
	<body>
		<nav id="pageHeader" class="navbar navbar-default navbar-static-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="/" class="pull-left"><img src="{% static "images/logo.png" %}"></a>
					<button type="button" data-target="#defaultUserOptions" data-toggle="collapse" class="navbar-toggle">
						<span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
					</button>
				</div>
				<div id="defaultUserOptions" class="collapse navbar-collapse">
						{% if user.is_authenticated %}
							<!--Dropdown for sm+ screens-->
							<div class="dropdown navbar-right hidden-xs">
								<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ user.username }} <span class="caret"></span></button>
								<ul class="dropdown-menu">
									<li><a href="{% url "inventorysite.views.add_page" %}"><span class="glyphicon glyphicon-plus"></span> Add Employee</a></li>
									<li><a href="{% url "inventorysite.views.search_page" %}"><span class="glyphicon glyphicon-search"></span> Search</a></li>
									<li><a href="{% url "inventorysite.views.logout_page" %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
								</ul>
							</div>
							<!--Dropdown for xs screens-->
							<ul class="nav navbar-nav hidden-sm hidden-md hidden-lg" id="xsNEDropdown">
								<li>{{ user.username }}</li>
								<li><a href="{% url "inventorysite.views.add_page" %}" class="btn btn-default">Add Employee</a></li>
								<li><a href="{% url "inventorysite.views.search_page" %}" class="btn btn-default">Search</a></li>
								<li><a href="{% url "inventorysite.views.logout_page" %}" class="btn btn-primary">Logout</a></li>
							</ul>
						{% endif %}
				</div>
			</div>
		</nav>

		{% block content %}
		{% endblock content %}
		
		<script type="text/javascript" src="{% static "javascript/jquery.min.js" %}"></script>
		<script type="text/javascript" src="{% static "javascript/bootstrap.min.js" %}"></script>
		<script type="text/javascript" src="{% static "javascript/script.js" %}"></script>
		<script type="text/javascript" src="{% static "javascript/jquery-ui.js" %}"></script><!--Required for datepicker-->
	</body>
</html>