{% extends "inventorysite/base_page.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
	<h3>Confirm deletion</h3>
	<h4>The information of this device will be wiped from the database. Continue?</h4>
	<form method="POST" class="post-form">{% csrf_token %}
		<a href="{% url "inventorysite.views.show_employee_info" pk=employee.pk %}" class="btn btn-danger">Cancel</a>
		<button type="submit" class="save btn btn-success pull-right">OK</button>
	</form>
</div>

{% endblock content %}