{% extends "inventorysite/base_page.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
	<h3>Edit employee information</h3>
	<form method="POST" class="post-form" onsubmit="return validateForm()">{% csrf_token %}
		{{ form.as_p }}
		<a href="{% url "inventorysite.views.show_employee_info" pk=employee.pk %}" class="btn btn-danger">Cancel</a>
		<button type="submit" class="save btn btn-primary pull-right">Submit</button>
	</form>
</div>

{% endblock content %}