{% extends "inventorysite/base_page.html" %}
{% load staticfiles %}

{% block content %}

{% if user.is_authenticated %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12"><h3>Location and employee lists:</h3></div>
		</div>
		<div class="row">
			<div class="col-xs-4"><a href="{% url "inventorysite.views.show_area_detail" location="all" department="none" %}">Locations</a></div>
			<div class="col-xs-4"><a href="{% url "inventorysite.views.show_area_detail" location="none" department="all"%}">Departments</a></div>
			<div class="col-xs-4"><a href="{% url "inventorysite.views.show_all_employees" %}">Employees</a></div>
		</div>
		<div class="row">
			<div class="col-xs-12"><h3>Device lists:</h3></div>
		</div>
		<div class="row">
			<div class="col-xs-4"><a href="{% url "inventorysite.views.show_all_computers" %}">Computers</a></div>
			<div class="col-xs-4"><a href="{% url "inventorysite.views.show_all_wdevices" %}">Wireless Devices</a></div>
			<div class="col-xs-4"><a href="{% url "inventorysite.views.show_all_phones" %}">IP Phones</a></div>
		</div>
		<div class="row">
			<div class="col-xs-4"><a href="{% url "inventorysite.views.show_all_laptops" %}">Laptops</a></div>
			<div class="col-xs-4"><a href="{% url "inventorysite.views.show_all_printers" %}">Printers</a></div>
			<div class="col-xs-4"><a href="{% url "inventorysite.views.show_all_barscanners" %}">Barcode Scanners</a></div>
		</div>
		<div class="row">
			<div class="col-xs-4"><a href="{% url "inventorysite.views.show_all_cradles" %}">Barcode Scanner Cradles</a></div>
			<div class="col-xs-4"><a href="{% url "inventorysite.views.show_all_scanners" %}">Scanners</a></div>
			<div class="col-xs-4"><a href="{% url "inventorysite.views.show_all_bioscanners" %}">Biometric Scanners</a></div>
		</div>
	</div>
{% else %}
	<h3 class="text-center">Log in for access</h3>
	<div class="container">
		<form method="POST" class="post-form">{% csrf_token %}
			<div class="form-group">
				<label class="control-label" for="inputUsername">Username</label>
				<input type="text" class="form-control" id="inputUsername" placeholder="Username" name="username">
			</div>
			<div class="form-group">
				<label class="control-label" for="inputPassword">Password</label>
				<input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
				{% if invalid_login %}<span class="help-block">Invalid login credentials</span>{% endif %}
			</div>
			<button type="submit" class="save btn btn-default btn-primary center-block">Log in</button>
		</form>
	</div>
{% endif %}

{% endblock content %}