{% extends "inventorysite/base_page.html" %}
{% load staticfiles %}

{% block content %}

<!--Get results from view. Apply bold styling if search term is substring of database entry-->
<div class="container">
	<div class="row" id="showSearchTerm">
		<div class="col-xs-12"><h3>Database entries containing:</h3> <p>"{{ search_term }}"</p></div>
	</div>
	<!--Tabs with tables-->
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#employeeTab">Employees</a></li>
		<li><a data-toggle="tab" href="#computerTab">Computers</a></li>
		<li><a data-toggle="tab" href="#wdTab">Wireless Devices</a></li>
		<li><a data-toggle="tab" href="#phoneTab">IP Phones</a></li>
		<li><a data-toggle="tab" href="#laptopTab">Laptops</a></li>
		<li><a data-toggle="tab" href="#printerTab">Printers</a></li>
		<li><a data-toggle="tab" href="#bsTab">Barcode Scanners</a></li>
		<li><a data-toggle="tab" href="#bscTab">Barcode Scanner Cradles</a></li>
		<li><a data-toggle="tab" href="#scannerTab">Scanners</a></li>
		<li><a data-toggle="tab" href="#bioTab">Biometric Scanners</a></li>
	</ul>
	<div class="tab-content">
		<div class="table-responsive tab-pane fade in active" id="employeeTab">
			<table class="table table-bordered">
				<thead>
					<caption><h3>Employees</h3></caption>
					<th title="Last Name">Last Name</th>
					<th title="First Name">First Name</th>
					<th title="Location">Location</th>
					<th title="Department">Department</th>
					<th title="ID">ID</th>
					<th title="E-mail">E-mail</th>
				</thead>
				<tbody>
					{% for e in match_employees %}
						<tr>
							<td title="{{ e.last_name }}"><a href="{% url "inventorysite.views.show_employee_info" pk=e.pk %}">{% if search_term.lower in e.last_name.lower%}<strong>{{ e.last_name }}</strong>{% else %}{{ e.last_name }}{% endif %}</a></td>
							<td title="{{ e.first_name }}">{% if search_term.lower in e.first_name.lower %}<strong>{{ e.first_name }}{% else %}{{ e.first_name }}{% endif %}</td>
							<td title="{{ e.location }}">{% if search_term.lower in e.location.lower %}<strong>{{ e.location }}</strong>{% else %}{{ e.location }}{% endif %}</td>
							<td title="{{ e.department }}">{% if search_term.lower in e.department.lower %}<strong>{{ e.department }}</strong>{% else %}{{ e.department }}{% endif %}</td>
							<td title="{{ e.employee_id }}">{% if search_term.lower in e.employee_id.lower %}<strong>{{ e.employee_id }}</strong>{% else %}{{ e.employee_id }}{% endif %}</td>
							<td title="{{ e.email }}">{% if search_term.lower in e.email.lower %}<strong>{{ e.email }}</strong>{% else %}{{ e.email }}{% endif %}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="table-responsive tab-pane fade" id="computerTab">
			<table class="table table-bordered">
				<thead>
					<caption><h3>Computers</h3></caption>
					<th title="Employee">Employee</th>
					<th title="Manufacturer">Manufacturer</th>
					<th title="Model">Model</th>
					<th title="Host Name">Host Name</th>
					<th title="Service Tag">Service Tag</th>
					<th title="Asset Tag">Asset Tag</th>
					<th title="Owner">Owner</th>
				</thead>
				<tbody>
					{% for c in match_computers %}
						<tr>
							<td title="{{ c.pc_user }}"><a href="{% url "inventorysite.views.show_employee_info" pk=c.pc_user.pk %}">{{ c.pc_user }}</a></td>
							<td title="{{ c.pc_manufacturer }}">{% if search_term.lower in c.pc_manufacturer.lower %}<strong>{{ c.pc_manufacturer }}</strong>{% else %}{{ c.pc_manufacturer }}{% endif %}</td>
							<td title="{{ c.pc_model }}">{% if search_term.lower in c.pc_model.lower %}<strong>{{ c.pc_model }}</strong>{% else %}{{ c.pc_model }}{% endif %}</td>
							<td title="{{ c.pc_host_name }}">{% if search_term.lower in c.pc_host_name.lower %}<strong>{{ c.pc_host_name }}</strong>{% else %}{{ c.pc_host_name }}{% endif %}</td>
							<td title="{{ c.pc_service_tag }}">{% if search_term.lower in c.pc_service_tag.lower %}<strong>{{ c.pc_service_tag }}</strong>{% else %}{{ c.pc_service_tag }}{% endif %}</td>
							<td title="{{ c.pc_asset_tag }}">{% if search_term.lower in c.pc_asset_tag.lower %}<strong>{{ c.pc_asset_tag }}</strong>{% else %}{{ c.pc_asset_tag }}{% endif %}</td>
							<td title="{{ c.pc_owner }} ">{% if search_term.lower in c.pc_owner.lower %}<strong>{{ c.pc_owner }}</strong>{% else %}{{ c.pc_owner }}{% endif %}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="table-responsive tab-pane fade" id="wdTab">
			<table class="table table-bordered">
				<thead>
					<caption><h3>Wireless Devices</h3></caption>
					<th title="Employee">Employee</th>
					<th title="Type">Type</th>
					<th title="Manufacturer">Manufacturer</th>
					<th title="Carrier">Carrier</th>
					<th title="Model">Model</th>
					<th title="Number">Number</th>
					<th title="Serial Number">Serial Number</th>
					<th title="MEID">MEID</th>
					<th title="Asset Tag">Asset Tag</th>
					<th title="Deploy Date">Deploy Date</th>
					<th title="Return Date">Return Date</th>
				</thead>
				<tbody>
					{% for wd in match_wdevices %}
						<tr>
							<td title="{{ wd.wd_user }}"><a href="{% url "inventorysite.views.show_employee_info" pk=wd.wd_user.pk %}">{{ wd.wd_user }}</a></td>
							<td title="{{ wd.wd_type }}">{% if search_term.lower in wd.wd_type.lower %}<strong>{{ wd.wd_type }}</strong>{% else %}{{ wd.wd_type }}{% endif %}</td>
							<td title="{{ wd.wd_manufacturer }}">{% if search_term.lower in wd.wd_manufacturer.lower %}<strong>{{ wd.wd_manufacturer}}</strong>{% else %}{{ wd.wd_manufacturer }}{% endif %}</td>
							<td title="{{ wd.wd_carrier }}">{% if search_term.lower in wd.wd_carrier.lower %}<strong>{{ wd.wd_carrier }}</strong>{% else %}{{ wd.wd_carrier }}{% endif %}</td>
							<td title="{{ wd.wd_model }}">{% if search_term.lower in wd.wd_model.lower %}<strong>{{ wd.wd_model }}</strong>{% else %}{{ wd.wd_model }}{% endif %}</td>
							<td title="{{ wd.wd_number }}">{% if search_term.lower in wd.wd_number.lower %}<strong>{{ wd.wd_number }}</strong>{% else %}{{ wd.wd_number }}{% endif %}</td>
							<td title="{{ wd.wd_serial_number }}">{% if search_term.lower in wd.wd_serial_number.lower %}<strong>{{ wd.wd_serial_number }}</strong>{% else %}{{ wd.wd_serial_number}}{% endif %}</td>
							<td title="{{ wd.wd_meid }}">{% if search_term.lower in wd.wd_meid.lower %}<strong>{{ wd.wd_meid }}</strong>{% else %}{{ wd.wd_meid }}{% endif %}</td>
							<td title="{{ wd.wd_asset_tag }}">{% if search_term.lower in wd.wd_asset_tag.lower %}<strong>{{ wd.wd_asset_tag }}</strong>{% else %}{{ wd.wd_asset_tag }}{% endif %}</td>
							<td title="{{ wd.wd_date_deployed }}">{% if search_term.lower in wd.wd_date_deployed.lower %}<strong>{{ wd.wd_date_deployed }}</strong>{% else %}{{ wd.wd_date_deployed }}{% endif %}</td>
							<td title="{{ wd.wd_date_returned }}">{% if search_term.lower in wd.wd_date_returned.lower %}<strong>{{ wd.wd_date_returned }}</strong>{% else %} {{ wd.wd_date_returned }}{% endif %}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="table-responsive tab-pane fade" id="phoneTab">
			<table class="table table-bordered">
				<thead>
					<caption><h3>IP Phones</h3></caption>
					<th title="Employee">Employee</th>
					<th title="Manufacturer">Manufacturer</th>
					<th title="Model">Model</th>
					<th title="Number">Number</th>
					<th title="Serial Number">Serial Number</th>
					<th title="MAC">MAC</th>
					<th title="Asset Tag">Asset Tag</th>
				</thead>
				<tbody>
					{% for p in match_phones %}
						<tr>
							<td title="{{ p.phone_user }}"><a href="{% url "inventorysite.views.show_employee_info" pk=p.phone_user.pk %}">{{ p.phone_user }}</a></td>
							<td title="{{ p.phone_manufacturer }}">{% if search_term.lower in p.phone_manufacturer.lower %}<strong>{{ p.phone_manufacturer }}</strong>{% else %}{{ p.phone_manufacturer }}{% endif %}</td>
							<td title="{{ p.phone_model }}">{% if search_term.lower in p.phone_model.lower %}<strong>{{ p.phone_model }}</strong>{% else %}{{ p.phone_model }}{% endif %}</td>
							<td title="{{ p.phone_number }}">{% if search_term.lower in p.phone_number.lower %}<strong>{{ p.phone_number }} </strong>{% else %}{{ p.phone_number }}{% endif %}</td>
							<td title="{{ p.phone_serial_number }}">{% if search_term.lower in p.phone_serial_number.lower %}<strong>{{ p.phone_serial_number }}<strong>{% else %}{{ p.phone_serial_number }}{% endif %}</td>
							<td title="{{ p.phone_mac }}">{% if search_term.lower in p.phone_mac.lower %}<strong>{{ p.phone_mac }}</strong> {% else %}{{ p.phone_mac }}{% endif %}</td>
							<td title="{{ p.phone_asset_tag }}">{% if search_term.lower in p.phone_asset_tag.lower %}<strong>{{ p.phone_asset_tag }}</strong>{% else %}{{ p.phone_asset_tag }}{% endif %}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="table-responsive tab-pane fade" id="laptopTab">
			<table class="table table-bordered">
				<thead>
					<caption><h3>Laptops</h3></caption>
					<th title="Employee">Employee</th>
					<th title="Manufacturer">Manufacturer</th>
					<th title="Model">Model</th>
					<th title="Host Name">Host Name</th>
					<th title="Service Tag">Service Tag</th>
					<th title="Asset Tag">Asset Tag</th>
					<th title="Owner">Owner</th> 
				</thead>
				<tbody>
					{% for l in match_laptops%}
						<tr>
							<td title="{{ l.laptop_user }}"><a href="{% url "inventorysite.views.show_employee_info" pk=l.laptop_user.pk %}">{{ l.laptop_user }}<a></td>
							<td title="{{ l.laptop_manufacturer }}">{% if search_term.lower in l.laptop_manufacturer.lower %}<strong>{{ l.laptop_manufacturer }}</strong>{% else %}{{ l.laptop_manufacturer }}{% endif %}</td>
							<td title="{{ l.laptop_model }}">{% if search_term.lower in l.laptop_model.lower %}<strong>{{ l.laptop_model }}</strong>{% else %}{{ l.laptop_model }}{% endif %}</td>
							<td title="{{ l.laptop_host_name }}">{% if search_term.lower in l.laptop_host_name.lower %}<strong>{{ l.laptop_host_name }}</strong>{% else %}{{ l.laptop_host_name }}{% endif %}</td>
							<td title="{{ l.laptop_service_tag }}">{% if search_term.lower in l.laptop_service_tag.lower %}<strong>{{ l.laptop_service_tag }}</strong>{% else %}{{ l.laptop_service_tag }}{% endif %}</td>
							<td title="{{ l.laptop_asset_tag }}">{% if search_term.lower in l.laptop_asset_tag.lower %}<strong>{{ l.laptop_asset_tag }}</strong>{% else %}{{ l.laptop_asset_tag }}{% endif %}</td>
							<td title="{{ l.laptop_owner }}">{% if search_term.lower in l.laptop_owner.lower %}<strong>{{ l.laptop_owner }} </strong>{% else %}{{ l.laptop_owner }}{% endif %}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="table-responsive tab-pane fade" id="printerTab">
			<table class="table table-bordered">
				<thead>
					<caption><h3>Printers</h3></caption>
					<th title="Employee">Employee</th>
					<th title="Manufacturer">Manufacturer</th>
					<th title="Model">Model</th>
					<th title="Serial Number">Serial Number</th>
					<th title="Asset Tag">Asset Tag</th>
					<th title="Owner">Owner</th> 
				</thead>
				<tbody>
					{% for p in match_printers %}
						<tr>
							<td title="{{ p.printer_user }}"><a href="{% url "inventorysite.views.show_employee_info" pk=p.printer_user.pk %}">{{ p.printer_user }}</a></td>
							<td title="{{ p.printer_manufacturer }}">{% if search_term.lower in p.printer_manufacturer.lower %}<strong>{{ p.printer_manufacturer }}</strong>{% else %}{{ p.printer_manufacturer }}{% endif %}</td>
							<td title="{{ p.printer_model }}">{% if search_term.lower in p.printer_model.lower %}<strong>{{ p.printer_model }}</strong>{% else %}{{ p.printer_model }}{% endif %}</td>
							<td title="{{ p.printer_serial_number }}">{% if search_term.lower in p.printer_serial_number.lower %}<strong>{{ p.printer_serial_number }}</strong>{% else %}{{ p.printer_serial_number }}{% endif %}</td>
							<td title="{{ p.printer_asset_tag }}">{% if search_term.lower in p.printer_asset_tag.lower %}<strong>{{ p.printer_asset_tag }}</strong>{% else %}{{ p.printer_asset_tag }}{% endif %}</td>
							<td title="{{ p.printer_owner }}">{% if search_term.lower in p.printer_owner.lower %}<strong>{{ p.printer_owner }}</strong>{% else %}{{ p.printer_owner }}{% endif %}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="table-responsive tab-pane fade" id="bsTab">
			<table class="table table-bordered">
				<thead>
					<caption><h3>Barcode Scanners</h3></caption>
					<th title="Employee">Employee</th>
					<th title="Manufacturer">Manufacturer</th>
					<th title="Model">Model</th>
					<th title="Serial Number">Serial Number</th>
					<th title="Asset Tag">Asset Tag</th> 
				</thead>
				<tbody>
					{% for b in match_barscanners %}
						<tr>
							<td title="{{ b.bs_user }} "><a href="{% url "inventorysite.views.show_employee_info" pk=b.bs_user.pk %}">{{ b.bs_user }}</a></td>
							<td title="{{ b.bs_manufacturer }}">{% if search_term.lower in b.bs_manufacturer.lower %}<strong>{{ b.bs_manufacturer }}</strong>{% else %}{{ b.bs_manufacturer }}{% endif %}</td>
							<td title="{{ b.bs_model }}">{% if search_term.lower in b.bs_model.lower %}<strong>{{ b.bs_model }}</strong>{% else %}{{ b.bs_model }}{% endif %}</td>
							<td title="{{ b.bs_serial_number }}">{% if search_term.lower in b.bs_serial_number.lower %}<strong>{{ b.bs_serial_number }}</strong>{% else %}{{ b.bs_serial_number }}{% endif %}</td>
							<td title="{{ b.bs_asset_tag }}">{% if search_term.lower in b.bs_asset_tag.lower %}<strong>{{ b.bs_asset_tag }}</strong>{% else %}{{ b.bs_asset_tag }}{% endif %}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="table-responsive tab-pane fade" id="bscTab">
			<table class="table table-bordered">
				<thead>
					<caption><h3>Barcode Scanner Cradles</h3></caption>
					<th title="Employee">Employee</th>
					<th title="Manufacturer">Manufacturer</th>
					<th title="Model">Model</th>
					<th title="Serial Number">Serial Number</th>
					<th title="Asset Tag">Asset Tag</th>
				</thead>
				<tbody>
					{% for c in match_cradles %}
						<tr>
							<td title="{{ c.bsc_user }}"><a href="{% url "inventorysite.views.show_employee_info" pk=c.bsc_user.pk %}">{{ c.bsc_user }}</a></td>
							<td title="{{ c.bsc_manufacturer}}">{% if search_term.lower in c.bsc_manufacturer.lower %}<strong>{{ c.bsc_manufacturer}}</strong>{% else %}{{ c.bsc_manufacturer }}{% endif %}</td>
							<td title="{{ c.bsc_model }}">{% if search_term.lower in c.bsc_model.lower %}<strong>{{ c.bsc_model }}</strong>{% else %}{{ c.bsc_model }}{% endif %}</td>
							<td title="{{ c.bsc_serial_number }}">{% if search_term.lower in c.bsc_serial_number.lower %}<strong>{{ c.bsc_serial_number }}</strong>{% else %}{{ c.bsc_serial_number }}{% endif %}</td>
							<td title="{{ c.bsc_asset_tag }}">{% if search_term.lower in c.bsc_asset_tag.lower %}<strong>{{ c.bsc_asset_tag }}</strong>{% else %}{{ c.bsc_asset_tag }}{% endif %}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="table-responsive tab-pane fade" id="scannerTab">
			<table class="table table-bordered">
				<thead>
					<caption><h3>Scanners</h3></caption>
					<th title="Employee">Employee</th>
					<th title="Manufacturer">Manufacturer</th>
					<th title="Model">Model</th>
					<th title="Serial Number">Serial Number</th>
					<th title="Asset Tag">Asset Tag</th>
				</thead>
				<tbody>
					{% for s in match_scanners %}
						<tr>
							<td title="{{ s.scanner_user }}"><a href="{% url "inventorysite.views.show_employee_info" pk=s.scanner_user.pk %}">{{ s.scanner_user }}</a></td>
							<td title="{{ s.scanner_manufacturer }}">{% if search_term.lower in s.scanner_manufacturer.lower %}<strong>{{ s.scanner_manufacturer }}</strong>{% else %}{{ s.scanner_manufacturer }}{% endif %}</td>
							<td title="{{ s.scanner_model }}">{% if search_term.lower in s.scanner_model.lower %}<strong>{{ s.scanner_model }}</strong>{% else %}{{ s.scanner_model }}{% endif %}</td>
							<td title="{{ s.scanner_serial_number }}">{% if search_term.lower in s.scanner_serial_number.lower %}<strong>{{ s.scanner_serial_number }}</strong>{% else %}{{ s.scanner_serial_number }}{% endif %}</td>
							<td title="{{ s.scanner_asset_tag }}">{% if search_term.lower in s.scanner_asset_tag.lower %}<strong>{{ s.scanner_asset_tag }}</strong>{% else %}{{ s.scanner_asset_tag }}{% endif %}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="table-responsive tab-pane fade" id="bioTab">
			<table class="table table-bordered">
				<thead>
					<caption><h3>Biometric Scanners</h3></caption>
					<th title="Employee">Employee</th>
					<th title="Manufacturer">Manufacturer</th>
					<th title="Model">Model</th>
					<th title="Serial Number">Serial Number</th>
					<th title="Asset Tag">Asset Tag</th>
				</thead>
				<tbody>
					{% for b in match_bioscanners %}
						<tr>
							<td title="{{ b.bis_user }}"><a href="{% url "inventorysite.views.show_employee_info" pk=b.bis_user.pk %}">{{ b.bis_user }}</a></td>
							<td title="{{ b.bis_manufacturer }}">{% if search_term.lower in b.bis_manufacturer.lower %}<strong>{{ b.bis_manufacturer }}</strong>{% else %}{{ b.bis_manufacturer }}{% endif %}</td>
							<td title="{{ b.bis_model }}">{% if search_term.lower in b.bis_model.lower %}<strong>{{ b.bis_model }}</strong>{% else %}{{ b.bis_model }}{% endif %}</td>
							<td title="{{ b.bis_serial_number }}">{% if search_term.lower in b.bis_serial_number.lower %}<strong>{{ b.bis_serial_number }}</strong>{% else %} {{ b.bis_serial_number }}{% endif %}</td>
							<td title="{{ b.bis_asset_tag }}">{% if search_term.lower in b.bis_asset_tag.lower %}<strong>{{ b.bis_asset_tag }}</strong>{% else %}{{ b.bis_asset_tag }}{% endif %}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock content %}