{% extends "inventorysite/base_page.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
	<h3>Search</h3>
	<form method="POST" class="post-form">{% csrf_token %}
		<div class="form-group">
			<label class="control-label" for="inputQuery">Enter any string to be searched</label>
			<input type="text" class="form-control" id="inputQuery" name="search_term">
		</div>
		<button type="submit" class="save btn btn-primary center-block">Search</button>
	</form>
</div>

{% endblock content %}