{% extends "inventorysite/base_page.html" %}
{% load staticfiles %}

{% block content %}

{% if location == "all" and department = "none" %}
<!--Show every location-->
	<div class="container">
		<div class="row">
			<div class="col-xs-12"><h3>All Locations</h3></div>
		</div>
		{% for location in all_locations %}
			<a href= "{% url "inventorysite.views.show_area_detail" location=location department="all" %}">{{ location }}</a><br>
		{% endfor %}
	</div>
{% elif location == "none" and department == "all" %}
<!--Show every department and its location-->
	<div class="container">
		<div class="row">
			<div class="col-xs-12"><h3>All Departments</h3></div>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<caption><h3>DNA Departments</h3></caption>
				</thead>
				<tbody>
					{% for department in dna_departments %}
						<tr>
							<td><a href="{% url "inventorysite.views.show_area_detail" location="DNA" department=department %}">{{ department }}</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<caption><h3>520 Departments</h3></caption>
				</thead>
				<tbody>
					{% for department in ft_departments %}
						<tr>
							<td><a href="{% url "inventorysite.views.show_area_detail" location="520" department=department %}">{{ department}}</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<caption><h3>Bronx Departments</h3></caption>
				</thead>
				<tbody>
					{% for department in bronx_departments %}
						<tr>
							<td><a href="{% url "inventorysite.views.show_area_detail" location="Bronx" department=department %}">{{ department }}</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<caption><h3>Queens Departments</h3></caption>
				</thead>
				<tbody>
					{% for department in queens_departments %}
						<tr>
							<td><a href="{% url "inventorysite.views.show_area_detail" location="Queens" department=department %}">{{ department }}</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<caption><h3>Staten Island Departments</h3></caption>
				</thead>
				<tbody>
					{% for department in si_departments %}
						<tr>
							<td><a href="{% url "inventorysite.views.show_area_detail" location="SI" department=department %}">{{ department }}</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% elif department == "all" %}
<!--Show all departments at specific location-->
	<div class="container">
		<div class="row">
			<div class="col-xs_12"><h3>Departments at {{ location }}</h3></div>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
				</thead>
				<tbody>
					{% for department in all_departments %}
						<tr>
							<td><a href="{% url "inventorysite.views.show_area_detail" location=location department=department %}">{{ department }}</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% else %}
<!--Otherwise show all employees at specific location and department-->
	<div class="container">
		<div class="row">
			<div class="col-xs_12"><h3>Employees at {{ location }} in {{ department }}</h3></div>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<th title="Last Name">Last Name</th>
					<th title="First Name">First Name</th>
					<th title="ID">ID</th>
					<th title="E-mail">E-mail</th>
				</thead>
				<tbody>
					{% for employee in match_employees %}
						<tr>
							<td title="{{ employee.last_name }}"><a href="{% url "inventorysite.views.show_employee_info" pk=employee.pk %}">{{ employee.last_name }}</a></td>
							<td title="{{ employee.first_name }}">{{ employee.first_name }}</td>
							<td title="{{ employee.employee_id }}">{{ employee.employee_id }}</td>
							<td title="{{ employee.email }}">{{ employee.email }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endif %}

{% endblock content %}