{% extends "inventorysite/base_page.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
	<h3>Confirm termination</h3>
	<h4>This employee will be permanently terminated and every device owned by this person will be returned to OCME. Continue termination?</h4>
	<form method="POST" class="post-form" onsubmit="return validateForm()">{% csrf_token %}
		<a href="{% url "inventorysite.views.show_employee_info" pk=employee.pk %}" class="btn btn-danger">Cancel</a>
		<button type="submit" class="save btn btn-success pull-right">OK</button>
	</form>
</div>

{% endblock content %}