{% extends "inventorysite/base_page.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
	<nav class="navbar navbar-default" id="showEmployeeOptions">
		<div class="container">
			<div class="col-xs-7">
				<h2>{{ employee.last_name }}, {{ employee.first_name }}</h2>
			</div>
			<div class="col-xs-5">
				<ul class="nav navbar-nav navbar-right">
					<!--Show buttons if not root employee and not terminated. Show termination message if not root employee and terminated-->
					{% if employee.pk != 1 and not employee.is_terminated %}
						<li><a href="{% url "inventorysite.views.edit_employee_info" pk=employee.pk %}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</a></li>
						<li><a href="{% url "inventorysite.views.terminate_employee" pk=employee.pk %}" class="btn btn-danger"><span class="glyphicon glyphicon-remove-sign"></span> Terminate</a></li>
					{% elif employee.pk != 1 and employee.is_terminated %}
						<h3 id="showTerminate">This employee has been terminated</h3>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
	<div class="table-responsive">
		<table class="table">
			<tr>
				<th>Location</th>
				<td>{{ employee.location }}</td>
			</tr>
			<tr>
				<th>Department</th>
				<td>{{ employee.department }}</td>
			</tr>
			<tr>
				<th>ID</th>
				<td>{{ employee.employee_id }}</td>
			</tr>
			<tr>
				<th>E-mail</th>
				<td>{{ employee.email }}</td>
			</tr>
		</table>
	</div>
	<nav class="navbar navbar-default" id="employeeComputerTable">
		<div class="container">
			<div class="col-xs-8">
				<h3>Computers</h3>
			</div>
			<div class="col-xs-4">
				{% if not employee.is_terminated %}
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{% url "inventorysite.views.add_pc" pk=employee.pk %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add</a></li>
					</ul>
				{% endif %}
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<th title="Manufacturer">Manufacturer</th>
					<th title="Model">Model</th>
					<th title="Host Name">Host Name</th>
					<th title="Service Tag">Service Tag</th>
					<th title="Asset Tag">Asset Tag</th>
					<th title="Owner">Owner</th>
				</thead>
				<tbody>
					{% for computer in employee.computers.all %}
						<tr>
							<td title="{{ computer.pc_manufacturer }}"> {{ computer.pc_manufacturer }} </td>
							<td title="{{ computer.pc_model }}"> {{ computer.pc_model }} </td>
							<td title="{{ computer.pc_host_name }}"> {{ computer.pc_host_name }} </td>
							<td title="{{ computer.pc_service_tag }}"> {{ computer.pc_service_tag }} </td>
							<td title="{{ computer.pc_asset_tag }}"> {{ computer.pc_asset_tag }} </td>
							<td title="{{ computer.pc_owner }}"> {{ computer.pc_owner }} </td>
							<td title="Delete"><a href="{% url "inventorysite.views.delete_pc" pk=employee.pk pk2=computer.pk %}"><span class="glyphicon glyphicon-remove"></span> Delete</a></td>
							<td title="Return"><a href="{% url "inventorysite.views.return_pc" pk=employee.pk pk2=computer.pk %}"><span class="glyphicon glyphicon-retweet"></span> Return</a></td>
							<td title="Edit"><a href="{% url "inventorysite.views.edit_pc" pk=employee.pk pk2=computer.pk %}"><span class="glyphicon glyphicon-pencil"></span> Edit</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</nav>
	<nav class="navbar navbar-default" id="employeeWDTable">
		<div class="container">
			<div class="col-xs-8">
				<h3>Wireless Devices</h3>
			</div>
			<div class="col-xs-4">
				{% if not employee.is_terminated %}
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{% url "inventorysite.views.add_wd" pk=employee.pk %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add</a></li>
					</ul>
				{% endif %}
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<th title="Type"> Type </th>
					<th title="Manufacturer"> Manufacturer </th>
					<th title="Carrier"> Carrier </th>
					<th title="Model"> Model </th>
					<th title="Number"> Number </th>
					<th title="Serial Number"> Serial Number </th>
					<th title="MEID"> MEID </th>
					<th title="Asset Tag"> Asset Tag </th>
					<th title="Deploy Date"> Deploy Date </th>
					<th title="Return Date"> Return Date </th>
				</thead>
				<tbody>
					{% for wd in employee.wdevices.all %}
						<tr>
							<td title="{{ wd.wd_type }}">{{ wd.wd_type }}</td>
							<td title="{{ wd.wd_manufacturer }}">{{ wd.wd_manufacturer }}</td>
							<td title="{{ wd.wd_carrier}}">{{ wd.wd_carrier}}</td>
							<td title="{{ wd.wd_model }}">{{ wd.wd_model }}</td>
							<td title="{{ wd.wd_number }}">{{ wd.wd_number }}</td>
							<td title="{{ wd.wd_serial_number }}">{{ wd.wd_serial_number }}</td>
							<td title="{{ wd.wd_meid }}">{{ wd.wd_meid }}</td>
							<td title="{{ wd.wd_asset_tag }}">{{ wd.wd_asset_tag }}</td>
							<td title="{{ wd.wd_date_deployed }}">{{ wd.wd_date_deployed }}</td>
							<td title="{{ wd.wd_date_returned }}">{{ wd.wd_date_returned }}</td>
							<td title="Delete"> <a href="{% url "inventorysite.views.delete_wd" pk=employee.pk pk2=wd.pk %}"><span class="glyphicon glyphicon-remove"></span> Delete</a></td>
							<td title="Return"> <a href="{% url "inventorysite.views.return_wd" pk=employee.pk pk2=wd.pk %}"><span class="glyphicon glyphicon-retweet"></span> Return</a></td>
							<td title="Edit"> <a href="{% url "inventorysite.views.edit_wd" pk=employee.pk pk2=wd.pk %}"><span class="glyphicon glyphicon-pencil"></span> Edit</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</nav>
	<nav class="navbar navbar-default" id="employeePhoneTable">
		<div class="container">
			<div class="col-xs-8">
				<h3>IP Phones</h3>
			</div>
			<div class="col-xs-4">
				{% if not employee.is_terminated %}
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{% url "inventorysite.views.add_phone" pk=employee.pk %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add</a></li>
					</ul>
				{% endif %}
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<th title="Manufacturer">Manufacturer</th>
					<th title="Model">Model</th>
					<th title="Number">Number</th>
					<th title="Serial Number">Serial Number</th>
					<th title="MAC">MAC</th>
					<th title="Asset Tag">Asset Tag</th>
				</thead>
				<tbody>
					{% for phone in employee.phones.all %}
						<tr>
							<td title="{{ phone.phone_manufacturer }}">{{ phone.phone_manufacturer }}</td>
							<td title="{{ phone.phone_model }}">{{ phone.phone_model }}</td>
							<td title="{{ phone.phone_number }}">{{ phone.phone_number }}</td>
							<td title="{{ phone.phone_serial_number }}">{{ phone.phone_serial_number }}</td>
							<td title="{{ phone.phone_mac }}">{{ phone.phone_mac }}</td>
							<td title="{{ phone.phone_asset_tag }}">{{ phone.phone_asset_tag }}</td>
							<td title="Delete"><a href="{% url "inventorysite.views.delete_phone" pk=employee.pk pk2=phone.pk %}"><span class="glyphicon glyphicon-remove"></span> Delete </a></td>
							<td title="Return"><a href="{% url "inventorysite.views.return_phone" pk=employee.pk pk2=phone.pk %}"><span class="glyphicon glyphicon-retweet"></span> Return</a></td>
							<td title="Edit"><a href="{% url "inventorysite.views.edit_phone" pk=employee.pk pk2=phone.pk %}"><span class="glyphicon glyphicon-pencil"></span> Edit</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</nav>
	<nav class="navbar navbar-default" id="employeeLaptopTable">
		<div class="container">
			<div class="col-xs-8">
				<h3>Laptops</h3>
			</div>
			<div class="col-xs-4">
				{% if not employee.is_terminated %}
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{% url "inventorysite.views.add_laptop" pk=employee.pk %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add</a></li>
					</ul>
				{% endif %}
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<th title="Manufacturer">Manufacturer</th>
					<th title="Model">Model</th>
					<th title="Host Name">Host Name</th>
					<th title="Service Tag">Service Tag</th>
					<th title="Asset Tag">Asset Tag</th>
					<th title="Owner">Owner</th>
				</thead>
				<tbody>
					{% for laptop in employee.laptops.all %}
						<tr>
							<td title="{{ laptop.laptop_manufacturer }}">{{ laptop.laptop_manufacturer }}</td>
							<td title="{{ laptop.laptop_model }}">{{ laptop.laptop_model }}</td>
							<td title="{{ laptop.laptop_host_name }}">{{ laptop.laptop_host_name }}</td>
							<td title="{{ laptop.laptop_service_tag }}">{{ laptop.laptop_service_tag }}</td>
							<td title="{{ laptop.laptop_asset_tag }}">{{ laptop.laptop_asset_tag }}</td>
							<td title="{{ laptop.laptop_owner }}">{{ laptop.laptop_owner }}</td>
							<td title="Delete"> <a href="{% url "inventorysite.views.delete_laptop" pk=employee.pk pk2=laptop.pk %}"><span class="glyphicon glyphicon-remove"></span> Delete</a></td>
							<td title="Return"><a href="{% url "inventorysite.views.return_laptop" pk=employee.pk pk2=laptop.pk %}"><span class="glyphicon glyphicon-retweet"></span> Return</a></td>
							<td title="Edit"><a href = "{% url "inventorysite.views.edit_laptop" pk=employee.pk pk2=laptop.pk %}"><span class="glyphicon glyphicon-pencil"></span> Edit</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</nav>
	<nav class="navbar navbar-default" id="employeePrinterTable">
		<div class="container">
			<div class="col-xs-8">
				<h3>Printers</h3>
			</div>
			<div class="col-xs-4">
				{% if not employee.is_terminated %}
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{% url "inventorysite.views.add_printer" pk=employee.pk %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add</a></li>
					</ul>
				{% endif %}
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<th title="Manufacturer">Manufacturer</th>
					<th title="Model">Model</th>
					<th title="Serial Number">Serial Number</th>
					<th title="Asset Tag">Asset Tag</th>
					<th title="Owner">Owner</th>
				</thead>
				<tbody>
					{% for printer in employee.printers.all %}
						<tr>
							<td title="{{ printer.printer_manufacturer }}">{{ printer.printer_manufacturer }}</td>
							<td title="{{ printer.printer_model }}">{{ printer.printer_model }}</td>
							<td title="{{ printer.printer_serial_number }}">{{ printer.printer_serial_number }}</td>
							<td title="{{ printer.printer_asset_tag }}">{{ printer.printer_asset_tag }}</td>
							<td title="{{ printer.printer_owner }}">{{ printer.printer_owner }}</td>
							<td title="Delete"><a href="{% url "inventorysite.views.delete_printer" pk=employee.pk pk2=printer.pk %}"><span class="glyphicon glyphicon-remove"></span> Delete</a></td>
							<td title="Return"><a href="{% url "inventorysite.views.return_printer" pk=employee.pk pk2=printer.pk %}"><span class="glyphicon glyphicon-retweet"></span> Return</a></td>
							<td title="Edit"><a class = "showDelete" href = "{% url "inventorysite.views.edit_printer" pk=employee.pk pk2=printer.pk %}"><span class="glyphicon glyphicon-pencil"></span> Edit</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</nav>
	<nav class="navbar navbar-default" id="employeeBSTable">
		<div class="container">
			<div class="col-xs-8">
				<h3>Barcode Scanners</h3>
			</div>
			<div class="col-xs-4">
				{% if not employee.is_terminated %}
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{% url "inventorysite.views.add_bs" pk=employee.pk %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add</a></li>
					</ul>
				{% endif %}
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<th title="Manufacturer">Manufacturer</th>
					<th title="Model">Model</th>
					<th title="Serial Number">Serial Number</th>
					<th title="Asset Tag">Asset Tag</th>
				</thead>
				<tbody>
					{% for bs in employee.bscanners.all %}
						<tr>
							<td title="{{ bs.bs_manufacturer }}">{{ bs.bs_manufacturer }}</td>
							<td title="{{ bs.bs_model }}">{{ bs.bs_model }}</td>
							<td title="{{ bs.bs_serial_number }}">{{ bs.bs_serial_number }}</td>
							<td title="{{ bs.bs_asset_tag }}">{{ bs.bs_asset_tag }}</td>
							<td title="Delete"><a href="{% url "inventorysite.views.delete_bs" pk=employee.pk pk2=bs.pk %}"><span class="glyphicon glyphicon-remove"></span> Delete</a></td>
							<td title="Return"> <a href="{% url "inventorysite.views.return_bs" pk=employee.pk pk2=bs.pk %}"><span class="glyphicon glyphicon-retweet"></span> Return</a></td>
							<td title="Edit"> <a href = "{% url "inventorysite.views.edit_bs" pk=employee.pk pk2=bs.pk %}"><span class="glyphicon glyphicon-pencil"></span> Edit</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</nav>
	<nav class="navbar navbar-default" id="employeeBSCTable">
		<div class="container">
			<div class="col-xs-8">
				<h3>Barcode Scanner Cradles</h3>
			</div>
			<div class="col-xs-4">
				{% if not employee.is_terminated %}
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{% url "inventorysite.views.add_bsc" pk=employee.pk %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add</a></li>
					</ul>
				{% endif %}
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<th title="Manufacturer">Manufacturer</th>
					<th title="Model">Model</th>
					<th title="Serial Number">Serial Number</th>
					<th title="Asset Tag">Asset Tag</th>
				</thead>
				<tbody>
					{% for bsc in employee.cradles.all %}
						<tr>
							<td title="{{ bsc.bsc_manufacturer }}">{{ bsc.bsc_manufacturer }}</td>
							<td title="{{ bsc.bsc_model }}">{{ bsc.bsc_model }}</td>
							<td title="{{ bsc.bsc_serial_number }}">{{ bsc.bsc_serial_number }}</td>
							<td title="{{ bsc.bsc_asset_tag }}">{{ bsc.bsc_asset_tag }}</td>
							<td title="Delete"><a href="{% url "inventorysite.views.delete_bsc" pk=employee.pk pk2=bsc.pk %}"><span class="glyphicon glyphicon-remove"></span> Delete</a></td>
							<td title="Return"><a href="{% url "inventorysite.views.return_bsc" pk=employee.pk pk2=bsc.pk %}"><span class="glyphicon glyphicon-retweet"></span> Return</a></td>
							<td title="Edit"><a href="{% url "inventorysite.views.edit_bsc" pk=employee.pk pk2=bsc.pk %}"><span class="glyphicon glyphicon-pencil"></span> Edit</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</nav>
	<nav class="navbar navbar-default" id="employeeScannerTable">
		<div class="container">
			<div class="col-xs-8">
				<h3>Scanners</h3>
			</div>
			<div class="col-xs-4">
				{% if not employee.is_terminated %}
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{% url "inventorysite.views.add_scanner" pk=employee.pk %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add</a></li>
					</ul>
				{% endif %}
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<th title="Manufacturer">Manufacturer</th>
					<th title="Model">Model</th>
					<th title="Serial Number">Serial Number</th>
					<th title="Asset Tag">Asset Tag</th>
				</thead>
				<tbody>
					{% for scanner in employee.scanners.all %}
						<tr>
							<td title="{{ scanner.scanner_manufacturer }}">{{ scanner.scanner_manufacturer }}</td>
							<td title="{{ scanner.scanner_model }}">{{ scanner.scanner_model }}</td>
							<td title="{{ scanner.scanner_serial_number }}">{{ scanner.scanner_serial_number }}</td>
							<td title="{{ scanner.scanner_asset_tag }}">{{ scanner.scanner_asset_tag }}</td>
							<td title="Delete"><a href="{% url "inventorysite.views.delete_scanner" pk=employee.pk pk2=scanner.pk %}"><span class="glyphicon glyphicon-remove"></span> Delete</a></td>
							<td title="Return"><a href="{% url "inventorysite.views.return_scanner" pk=employee.pk pk2=scanner.pk %}"><span class="glyphicon glyphicon-retweet"></span> Return</a></td>
							<td title="Edit"><a href="{% url "inventorysite.views.edit_scanner" pk=employee.pk pk2=scanner.pk %}"><span class="glyphicon glyphicon-pencil"></span> Edit</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</nav>
	<nav class="navbar navbar-default" id="employeeBioTable">
		<div class="container">
			<div class="col-xs-8">
				<h3>Biometric Scanners</h3>
			</div>
			<div class="col-xs-4">
				{% if not employee.is_terminated %}
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{% url "inventorysite.views.add_bio" pk=employee.pk %}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add</a></li>
					</ul>
				{% endif %}
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<th title="Manufacturer">Manufacturer</th>
					<th title="Model">Model</th>
					<th title="Serial Number">Serial Number</th>
					<th title="Asset Tag">Asset Tag</th>
				</thead>
				<tbody>
					{% for bioscanner in employee.bioscanners.all %}
						<tr>
							<td title="{{ bioscanner.bis_manufacturer }}">{{ bioscanner.bis_manufacturer }}</td>
							<td title="{{ bioscanner.bis_model }}">{{ bioscanner.bis_model }}</td>
							<td title="{{ bioscanner.bis_serial_number }}">{{ bioscanner.bis_serial_number }}</td>
							<td title="{{ bioscanner.bis_asset_tag }}">{{ bioscanner.bis_asset_tag }}</td>
							<td title="Delete"><a href = "{% url "inventorysite.views.delete_bio" pk=employee.pk pk2=bioscanner.pk %}"><span class="glyphicon glyphicon-remove"></span> Delete</a></td>
							<td title="Return"><a href = "{% url "inventorysite.views.return_bio" pk=employee.pk pk2=bioscanner.pk %}"><span class="glyphicon glyphicon-retweet"></span> Return</a></td>
							<td title="Edit"><a href = "{% url "inventorysite.views.edit_bio" pk=employee.pk pk2=bioscanner.pk %}"><span class="glyphicon glyphicon-pencil"></span> Edit</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</nav>
</div>

{% endblock content %}