#pageHeader {
	background-color: #FFFFFF;
	margin-bottom: 0px;
	border-bottom: 1px solid #000000;
}

/*Hide image border on IE*/
#pageHeader img {
	border: 0;
	margin-left: -55px;
}

/*Layout for buttons on xs devices*/
#defaultUserOptions #xsNEDropdown .btn-primary {
	color: #FFFFFF;
	background-color: #3399FF;
	opacity: 0.95;
	border: 1px solid #2E8AE6;
}

#defaultUserOptions #xsNEDropdown .btn-primary:hover {
	opacity: 1;
}

#defaultUserOptions #xsNEDropdown .btn-default {
	color: #FFFFFF;
	background-color: #8585AD;
	opacity: 0.95;
	border: 1px solid #78789C;
}

#defaultUserOptions #xsNEDropdown .btn-default:hover {
	opacity: 1;
}

/*Show search query and prompt on one line*/
#showSearchTerm h3 {
	display: inline-block;
}

#showSearchTerm p {
	display: inline-block;
}

table {
	table-layout: fixed;
}

table th {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

table td {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#showTerminate {
	color: #FF0000;
}

#showEmployeeOptions {
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
}

/*Shift employee name*/
#showEmployeeOptions .col-xs-8 {
	margin-left: -30px;
}

/*Edit information button*/
#showEmployeeOptions .btn-primary {
	color: #FFFFFF;
	opacity: 0.95;
	background-color: #0066FF;
	border: 1px solid #005CE6;
}

#showEmployeeOptions .btn-primary:hover {
	opacity: 1;
}

/*Terminate employee button*/
#showEmployeeOptions .btn-danger {
	color: #FFFFFF;
	opacity: 0.95;
	background-color: #FF3333;
	border: 1px solid #E62E2E;
}

#showEmployeeOptions .btn-danger:hover {
	opacity: 1;
} 

/*CSS not applied to nav class. Use ID instead*/
/*Add device button*/
#employeeComputerTable .container ul a {
	margin-right: 45px;
	color: #FFFFFF;
	background-color: #8585AD;
	opacity: 0.95;
	border: 1px solid #78789C;
}

#employeeComputerTable .container ul a:hover {
	opacity: 1;
}

#employeeWDTable .container ul a {
	margin-right: 45px;
	color: #FFFFFF;
	background-color: #8585AD;
	opacity: 0.95;
	border: 1px solid #78789C;
}

#employeeWDTable .container ul a:hover {
	opacity: 1;
}

#employeePhoneTable .container ul a {
	margin-right: 45px;
	color: #FFFFFF;
	background-color: #8585AD;
	opacity: 0.95;
	border: 1px solid #78789C;
}

#employeePhoneTable .container ul a:hover {
	opacity: 1;
}

#employeeLaptopTable .container ul a {
	margin-right: 45px;
	color: #FFFFFF;
	background-color: #8585AD;
	opacity: 0.95;
	border: 1px solid #78789C;
}

#employeeLaptopTable .container ul a:hover {
	opacity: 1;
}

#employeePrinterTable .container ul a {
	margin-right: 45px;
	color: #FFFFFF;
	background-color: #8585AD;
	opacity: 0.95;
	border: 1px solid #78789C;
}

#employeePrinterTable .container ul a:hover {
	opacity: 1;
}

#employeeBSTable .container ul a {
	margin-right: 45px;
	color: #FFFFFF;
	background-color: #8585AD;
	opacity: 0.95;
	border: 1px solid #78789C;
}

#employeeBSTable .container ul a:hover {
	opacity: 1;
}

#employeeBSCTable .container ul a {
	margin-right: 45px;
	color: #FFFFFF;
	background-color: #8585AD;
	opacity: 0.95;
	border: 1px solid #78789C;
}

#employeeBSCTable .container ul a:hover {
	opacity: 1;
}

#employeeScannerTable .container ul a {
	margin-right: 45px;
	color: #FFFFFF;
	background-color: #8585AD;
	opacity: 0.95;
	border: 1px solid #78789C;
}

#employeeScannerTable .container ul a:hover {
	opacity: 1;
}

#employeeBioTable .container ul a {
	margin-right: 45px;
	color: #FFFFFF;
	background-color: #8585AD;
	opacity: 0.95;
	border: 1px solid #78789C;
}

#employeeBioTable .container ul a:hover {
	opacity: 1;
}

#addDeviceButtons {
	position: absolute;
	right: 0;
}

.removableDiv a {
	float: right;
}

/*Hide dynamic forms*/
.newPCForm {
	display: none;
}

.newWDForm {
	display: none;
}

.newPhoneForm {
	display: none;
}

.newLaptopForm {
	display: none;
}

.newPrinterForm {
	display: none;
}

.newBarcodeForm {
	display: none;
}

.newCradleForm {
	display: none;
}

.newScannerForm {
	display: none;
}

.newBioForm {
	display: none;
}